body
{
	font-family: arial;
	color : lightgrey;
}

header
{
	background-color : #181c1f;
	padding : 15px;
}

header ul
{
	padding : 0px;
	margin : 0px;
	height : 55px;
	display : flex;
	flex-wrap : nowrap;
	justify-content : space-around; /*alignement horizontal*/
	align-items : center; /*alignement vertical*/
}

header ul li
{
	font-size: 15px;
	height: 30px;
	width : 110px;
	display : flex;
	justify-content : center;
	align-items : center;
	text-transform : uppercase;
	font-weight : bold;
	border-radius : 10px;
}

.pannprincipal:hover
{
	background-color : rgba(169, 169, 169, 0.165);
}

#globe1
{
	height : 50px;
	width : 50px;
}

section
{
	background-color : rgb(28, 34, 48);
}

footer
{
	background-color : #181c1f;
	font-weight : bold;
	display : flex;
	justify-content : space-around;
	padding : 15px;
}

footer div
{
	padding : 3px;
}

#menufooter,#about,#sign
{
	padding : 0px 5px;
	/*border-width : 0px 1px 0px;
	border-style : dashed;*/
	display : flex;
	flex-direction : column;
}

footer div *
{
	height : auto;
	width : 300px;
}

#menufooter a
{
	padding : 3px;
	border-radius : 5px;
}

#menufooter a:hover
{
	background-color : rgba(169, 169, 169, 0.124);
}

.lienfooter
{
	color : lightgrey;
	text-decoration : none;
}

#footerrealisationtitre,#footersignaturetitre
{
	color : rgba(244, 165, 96, 0.611);
}

#logosign
{
	width : 119px;
	height : 99px;
}