section{
  display: flex;
}

section div div div{
  border-radius: 10px;
  margin: 8px;
  text-decoration: none;
  width: 90%;
  border: 2px solid lightgrey;
  text-align: center;
}

section #menu2{
  position: sticky;
  top:70px;

}

section .col-3 h3{
  background-color: rgba(10, 10, 10, 0.5);
}

#contenu{
  margin: 8px;
  text-decoration: none;
  width: 90%;
  border: 2px solid lightgrey;
  text-align: center;
}

#terre{
  background-image: url(./../img/planetes/terre.jpg);
  background-size: cover;
}

#mars{
  background-image: url(./../img/planetes/mars.jpg);
  background-size: cover;
}

#venus{
  background-image: url(./../img/planetes/venus.jpg);
  background-size: cover;
}

#mercure{
  background-image: url(./../img/planetes/mercure.jpg);
  background-size: cover;
}

#jupiter{
  background-image: url(./../img/planetes/jupiter.jpg);
  background-size: cover;
}

#saturne{
  background-image: url(./../img/planetes/saturne.jpg);
  background-size: cover;
}

#uranus{
  background-image: url(./../img/planetes/uranus.jpg);
  background-size: cover;
}

#neptune{
  background-image: url(./../img/planetes/neptune.jpg);
  background-size: cover;
}

#image{
  border-top: 2px solid lightgrey;
  border-right: 2px solid lightgrey;
  border-bottom: 2px solid lightgrey;
}

a{
  text-decoration: none;
  color: lightgrey;
}

.planete{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.texte{
  border: none;
}
