section{
  display: flex;
}

section div div div{
  border-radius: 10px;
  margin: 8px;
  text-decoration: none;
  width: 90%;
  border: 2px solid lightgrey;
  text-align: center;
}

section #menu2{
  position: sticky;
  top:100px;
}

#terre{
  background-image: url(./../img/planetes/terre.jpg);
  background-size: cover;
}

#mars{
  background-image: url(./../img/planetes/mars.jpg);
  background-size: cover;
}

#venus{
  background-image: url(./../img/planetes/venus.jpg);
  background-size: cover;
}

#mercure{
  background-image: url(./../img/planetes/mercure.jpg);
  background-size: cover;
}

#jupiter{
  background-image: url(./../img/planetes/jupiter.jpg);
  background-size: cover;
}

#saturne{
  background-image: url(./../img/planetes/saturne.jpg);
  background-size: cover;
}
